div{border:solid;
	background-color:#008080;
	width:500px;
	margin: auto;
	}
	article{background-color:#ffffff;	
	margin:auto;
	width: 700px;
	}
	h2{background-color:#d1cfd5;
	text-align:center;
	}
	body{background-image: url("messi.png");
	}
	a{color:#ffffff;
	font-size:20px;
	}
	p{text-align:justify;
	width: 700px;
	margin:auto;
	background-color:#ffffff;
	font-family:Arial;
	}
	img{border:solid;
	}